.flag{
    background:url("../images/flag.jpg") no-repeat ;
    height: 30px;
    width: 24px;
    margin-left: 20px;
    margin-top: 10px;
    float: left;

}
.right_top_font{
    margin-left: 70px;
    padding-top: 15px;
}
.right_top{
    background:url("../images/right_m.jpg")repeat-x ;
    height: 47px;
    width: 1000px;
    float: left;
}
.right_top_right_1{
    background-image: url("../images/right_l.jpg");
    height: 47px;
    float: left;
    width: 8px;
    margin: 0px 0px 0px;
}
.right_top_right_2{
    background: url("../images/right_r.jpg") no-repeat;
    height: 47px;
    width: 12px;
    float: left;
    margin:-47px 1000px 0px;
}
.center{
    width:1007px;border:1px solid #9d9d9d;
    margin-left: 5px;
    padding: 10px 10px 10px;
    min-height: 450px;
}