<link rel="stylesheet"  type="text/css" href="../../views/resource/foregroundModule/css/welcome.css"/>
<div class="tbtt">
    <div class="wrap">
        <div class="content-home">
            <div>
                <p>青岛融商</p>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QINGDAORONGSHANG</h3>
                <br>
                <small style="font-size: 24px;">——<cite title="Source Title">是一家实力雄厚的软件公司,
                    <br>专门为企业提供信息技术服务。</cite>
                </small>
            </div>
            <div class="orange">联系人</div>
            <div class="orange orange2">于经理</div>
        </div>
    </div>
    <div class="tbtt_row4">
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-bofang.png"/></a>
            <div class="movies"><p><a>产品视频</a></p></div>
        </div>
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-shoucang%20.png"/></a>
            <div class="movies"><p><a>资料收藏</a></p></div>
        </div>
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-xin.png"/></a>
            <div class="movies"><p><a>最新动态</a></p></div>
        </div>
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-lianjie.png"/></a>
            <div class="movies"><p><a>产品演示</a></p></div>
        </div>
    </div>
</div>
<div class="row3">
    <div class="col" ng-repeat="product in datas.products">
        <h4>
            <a class="product-title" ng-bind-html="product.title"></a>
        </h4>
        <a>
            <img ng-src="{{product.image}}"/>
        </a>
        <div class="txt">
            <p ng-bind-html="product.concat | limitTo :130 "></p>
        </div>
        <div class="detail"><a ng-href="#/productdetail?id={{product._id}}" > << more </a></div>
    </div>
</div>
<div class="block-home customers border-sep">
    <h1><a class="customers_title">合作伙伴</a></h1>
    <div>
        <div class="customers_img" >
            <img src="{{datas.partners[0].image}}" style="width: 350px;">
        </div>
        <div class="bank">
            <h3><a ng-bind="datas.partners[0].title"></a></h3>
            <div class="txt">
                <p title="{{datas.partners[0].concat}}" ng-bind-html="datas.partners[0].concat | limitTo:140"></p>
            </div>
        </div>
        <div>
            <h3><a>其他伙伴</a></h3>
            <div class="customers_other">
                <a ng-repeat="partner in datas.partners">
                    <img ng-if="$index>0" ng-src="{{partner.image}}"/>
                </a>
            </div>
            <div class="detail"><a ng-href="#/allpartner?pageNo=1" > << more </a></div>
        </div>
    </div>
</div>
<div class="block-home snippet-developers bg-blue">
    <h1 class="text-center c_white">
        <a title="development history">发展历史</a>
    </h1>
    <div class="row3">
        <div class="col text-center icon_a">
            <div  class="icon-rounded white big ">
                <a><img class="icon-rounded img" src="../../../views/resource/foregroundModule/images/fzlc1.jpg"/></a>
            </div>
        </div>
        <div class="col text-center icon_a">
            <div  class="icon-rounded white big ">
                <a> <img class="icon-rounded img" src="../../../views/resource/foregroundModule/images/fzlc2.jpg"/></a>
            </div>
        </div>
        <div class="col text-center icon_a">
            <div  class="icon-rounded white big ">
                <a><img class="icon-rounded img" src="../../views/resource/foregroundModule/images/fzlc3.jpg"/></a>
            </div>
        </div>
    </div>
</div>
<div class="row3">
    <h1 style="margin-top: -20px;"><a class="fyrw_title">风云人物</a></h1>
    <div class="col" ng-repeat="figure in datas.figures">
        <a>
            <img ng-src="{{figure.image}}" class="img-thumbnail"/>
        </a>
        <div class="txt">
            <p>
                <div>姓名：<span ng-bind-html="figure.name"></span></div>
                <div>职位：<span ng-bind-html="figure.job"></span></div>
                <div>资质荣誉:<span title="{{figure.honor}}" ng-bind-html="figure.honor | limitTo:121"></span></div>
            </p>
        </div>
    </div>
</div>
<div class="block-home snippet-about border-sep">
    <div class="about">
        <h1><a class="news_title">新闻动态</a></h1>
        <h1><a class="tel_title">联系方式</a></h1>
    </div>
    <div class="row2 margin-40">
        <div class="col">
            <a><img src="../../views/resource/foregroundModule/images/xw2.jpg"  title=" News"style="width:470px;height:199px"></a>
            <div class="txt news">
                <ul>
                    <li ng-repeat="news in datas.news">
                        <a ng-href="#/newsdetail?id={{news._id}}" class="about_news" title="{{news.title}}" ng-bind="news.title"></a>
                        <span style="float: right;" ng-bind="news.createdTime"></span>
                    </li>

                </ul>
                <div class="detail"><a ng-href="#/allnews?pageNo=1"> << more </a></div>
            </div>
        </div>
        <div class="col" style="margin-left: 25px;">
            <a><img src="../../views/resource/foregroundModule/images/lxwm2.jpg"style="width:470px;height:199px"></a>
            <div class="about_other" >
                <h4 class="ours_title"> <a>电话：</a></h4>
                <p class="about_p" ng-bind="datas.contactus.tel"></p>
                <h4 class="ours_title"> <a>地址：</a></h4>
                <p class="about_p" ng-bind="datas.contactus.address"></p>
                <h4 class="ours_title"> <a>邮箱：</a></h4>
                <p class="about_p" ng-bind="datas.contactus.email"></p>
                <h4 class="ours_title"> <a>QQ：</a></h4>
                <p class="about_p" ng-bind="datas.contactus.qq"></p>
                <h4 class="ours_title"> <a>传真：</a></h4>
                <p class="about_p" ng-bind="datas.contactus.fax"></p>
            </div>
        </div>
    </div>
</div>













