<link rel="stylesheet"  type="text/css" href="../../views/resource/foregroundModule/css/welcome.css"/>
<div class="tbtt">
    <div class="wrap">
        <div class="content-home">
            <div>
                <p>青岛融商</p>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QINGDAORONGSHANG</h3>
                <br>
                <small style="font-size: 24px;">——<cite title="Source Title">是一家特别有实力的软件公司,
                    <br>专门为企业提供信息技术服务。</cite>
                </small>
            </div>
            <div class="orange">联系人</div>
            <div class="orange orange2">于经理</div>
        </div>
    </div>
    <div class="tbtt_row4">
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-bofang.png"/></a>
            <div class="movies"><p><a>产品视频</a></p></div>
        </div>
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-shoucang%20.png"/></a>
            <div class="movies"><p><a>资料收藏</a></p></div>
        </div>
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-xin.png"/></a>
            <div class="movies"><p><a>最新动态</a></p></div>
        </div>
        <div class="row4"><a><img src="../../views/resource/foregroundModule/images/iconfont-lianjie.png"/></a>
            <div class="movies"><p><a>产品演示</a></p></div>
        </div>
    </div>
</div>
<div class="row3">
    <div class="col">
        <h4>
            <a href="" class="product-title">融商资金中心核心业务系统</a>
        </h4>
        <a>
            <img src="../../../upload/images/epss.jpg"/>
        </a>
        <div class="txt"title="系统为银行、财务公司或集团资金中心核心业务系统。
                为资金管理中心提供资金管理系统，该系统具有科目管理、利率管理、汇率管理、
                账簿管理、客户信息管理、账户管理、记账、计息、会计核算、对账单管理、
                分户账管理等全面地账务管理。该系统帮助资金中心实现对资金的集中管控，防范资金风险。
               ">
            <p>
                系统为银行、财务公司或集团资金中心核心业务系统。
                为资金管理中心提供资金管理系统，该系统具有科目管理、利率管理、汇率管理、
                账簿管理、客户信息管理、账户管理、记账、计息、会计核算、对账单管理、
                分户账管理等全面地账务管理。该系统帮助资金中心实现对资金的集中管控，防范资金风险。
            </p>
        </div>
        <div class="detail"><a > << more </a></div>
    </div>
    <div class="col">
        <h4>
            <a class="product-title">CBS资金中心核心业务系统</a>
        </h4>
        <a>
            <img src="../../../upload/images/fip.jpg"/>
        </a>
        <div class="txt"title="系统为银行、财务公司或集团资金中心核心业务系统。
                为资金管理中心提供资金管理系统，该系统具有科目管理、利率管理、汇率管理、
                账簿管理、客户信息管理、账户管理、记账、计息、会计核算、对账单管理、
                分户账管理等全面地账务管理。该系统帮助资金中心实现对资金的集中管控，防范资金风险。
        ">
            <p>
                系统为银行、财务公司或集团资金中心核心业务系统。
                为资金管理中心提供资金管理系统，该系统具有科目管理、利率管理、汇率管理、
                账簿管理、客户信息管理、账户管理、记账、计息、会计核算、对账单管理、
                分户账管理等全面地账务管理。该系统帮助资金中心实现对资金的集中管控，防范资金风险。
            </p>
        </div>
        <div class="detail"><a > << more </a></div>
    </div>
    <div class="col">
        <h4>
            <a class="product-title">融商资金中心核心业务系统</a>
        </h4>
        <a>
            <img src="../../../upload/images/sbs.jpg"/>
        </a>
        <div class="txt"title="系统为银行、财务公司或集团资金中心核心业务系统。
                为资金管理中心提供资金管理系统，该系统具有科目管理、利率管理、汇率管理、
                账簿管理、客户信息管理、账户管理、记账、计息、会计核算、对账单管理、
                分户账管理等全面地账务管理。该系统帮助资金中心实现对资金的集中管控，防范资金风险。">
            <p>
                系统为银行、财务公司或集团资金中心核心业务系统。
                为资金管理中心提供资金管理系统，该系统具有科目管理、利率管理、汇率管理、
                账簿管理、客户信息管理、账户管理、记账、计息、会计核算、对账单管理、
                分户账管理等全面地账务管理。该系统帮助资金中心实现对资金的集中管控，防范资金风险。
            </p>
        </div>
        <div class="detail"><a > << more </a></div>
    </div>
</div>
<div class="block-home customers border-sep">
    <h1><a class="customers_title">合作伙伴</a></h1>
    <div>
        <div class="customers_img"><img src="../../views/resource/foregroundModule/images/pufa.png">
        </div>
        <div class="bank">
            <h3><a>浦发银行</a></h3>
            <div class="txt">
                <p title="银行、财务公司或集团资金中心核心业务系统。主要功能包括：系统管理、客户信息管理、码表管理、账户管理、记账、批量处理、会计报表等。
                     银行、财务公司或集团资金中心核心业务系统。主要功能包括：系统管理、客户信息管理、码表管理、账户管理、记账、批量处理、会计报表等。
            ">
                    银行、财务公司或集团资金中心核心业务系统。主要功能包括：系统管理、客户信息管理、码表管理、账户管理、记账、批量处理、会计报表等。
                    银行、财务公司或集团资金中心核心业务系统。主要功能包括：系统管理、客户信息管理、码表管理、账户管理、记账、批量处理、会计报表等。
                </p>
            </div>
            <div class="detail"><a > << more </a>
            </div>
        </div>
        <div>
            <h3><a>其他伙伴</a></h3>
            <div class="customers_other">
                <a> <img src="../../views/resource/foregroundModule/images/zhaohang.png"/></a>
                <a> <img src="../../views/resource/foregroundModule/images/rizhao.png"/></a>
                <a><img src="../../views/resource/foregroundModule/images/jianhang.png"/></a>
                <a><img src="../../views/resource/foregroundModule/images/haier.png"/></a>
            </div>
            <div class="detail"><a > << more </a></div>
        </div>
    </div>
</div>
<div class="block-home snippet-developers bg-blue">
    <h1 class="text-center c_white">
        <a title="development history">发展历史</a>
    </h1>
    <div class="row3">
        <div class="col text-center icon_a">
            <div  class="icon-rounded white big ">
                <a><img class="icon-rounded img" src="../../../views/resource/foregroundModule/images/fzlc1.jpg"/></a>
            </div>
        </div>
        <div class="col text-center icon_a">
            <div  class="icon-rounded white big ">
                <a> <img class="icon-rounded img" src="../../../views/resource/foregroundModule/images/fzlc2.jpg"/></a>
            </div>
        </div>
        <div class="col text-center icon_a">
            <div  class="icon-rounded white big ">
                <a><img class="icon-rounded img" src="../../views/resource/foregroundModule/images/fzlc3.jpg"/></a>
            </div>
        </div>
        <div class="detail"><a > << more </a></div>
    </div>
</div>
<div class="row3">
    <h1 style="margin-top: -20px;"><a class="fyrw_title">风云人物</a></h1>
    <div class="col">
        <a>
            <img src="../../../upload/images/fip.jpg"class="img-thumbnail"/>
        </a>
        <div class="txt">
            <p>
            <div>姓名：战睿</div>
            <div>职位：经理</div>
            <div>资质荣誉：1992年毕业于青岛大学计算机系计算机及应用专业，
                在人民银行科技部门任职6年后，于1998年10月进入青岛中天信息技术有限公司，
                直至2007年底离开中天。
                在青岛中天公司任职期间，主要担任技术主管职务，
                有7年的时间主要负责开发团队的管理，在软件的产品研发、项目实施、团队管理以及企业运营方面，
                积累了一定的工作经验。
            </div>
            </p>
        </div>
        <div class="detail"><a > << more </a></div>
    </div>
    <div class="col">
        <a>
            <img src="../../../upload/images/fip.jpg" class="img-thumbnail"/>
        </a>
        <div class="txt">
            <p>
            <div>姓名：战睿</div>
            <div>职位：经理</div>
            <div>资质荣誉：1992年毕业于青岛大学计算机系计算机及应用专业，
                在人民银行科技部门任职6年后，于1998年10月进入青岛中天信息技术有限公司，
                直至2007年底离开中天。
                在青岛中天公司任职期间，主要担任技术主管职务，
                有7年的时间主要负责开发团队的管理，在软件的产品研发、项目实施、团队管理以及企业运营方面，
                积累了一定的工作经验。
            </div>
            </p>
        </div>
        <div class="detail"><a ><< more </a></div>
    </div>
    <div class="col">
        <a>
            <img src="../../../upload/images/fip.jpg"class="img-thumbnail"/>
        </a>
        <div class="txt">
            <p>
            <div>姓名：战睿</div>
            <div>职位：经理</div>
            <div>资质荣誉：1992年毕业于青岛大学计算机系计算机及应用专业，
                在人民银行科技部门任职6年后，于1998年10月进入青岛中天信息技术有限公司，
                直至2007年底离开中天。
                在青岛中天公司任职期间，主要担任技术主管职务，
                有7年的时间主要负责开发团队的管理，在软件的产品研发、项目实施、团队管理以及企业运营方面，
                积累了一定的工作经验。
            </div>
            </p>
        </div>
        <div class="detail"><a > << more </a></div>
    </div>
</div>
<div class="block-home snippet-about border-sep">
    <div class="about">
        <h1><a class="news_title">新闻动态</a></h1>
        <h1><a class="tel_title">联系方式</a></h1>
    </div>
    <div class="row2 margin-40">
        <div class="col">
            <a><img src="../../views/resource/foregroundModule/images/slide2.png"  title=" News"style="width:470px;height:199px"></a>
            <div class="txt news">
                <ul>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news" >青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                    <li>
                        <a class="about_news">青岛融商信息技术有限公司</a>
                        <span style="float: right;">2015-05-05</span>
                    </li>
                </ul>
                <div class="detail"><a > << more </a></div>
            </div>
        </div>
        <div class="col" style="margin-left: 25px;">
            <a><img src="../../../upload/images/fwwxzj.jpg"style="width:470px;height:199px"></a>
            <div class="about_other" >
                <h4 class="ours_title"> <a>电话：</a></h4>
                <p class="about_p">0532-67701662</p>
                <h4 class="ours_title"> <a>地址：</a></h4>
                <p class="about_p">青岛市崂山区同安路880号深蓝公寓811室</p>
                <h4 class="ours_title"> <a>邮箱：</a></h4>
                <p class="about_p">123456@rongshang.com</p>
                <h4 class="ours_title"> <a>QQ：</a></h4>
                <p class="about_p">12345678910</p>
                <h4 class="ours_title"> <a>传真：</a></h4>
                <p class="about_p">12345678910</p>
            </div>
        </div>
    </div>
</div>













