<link rel="stylesheet"  type="text/css" href="../../views/resource/foregroundModule/css/companyprofiles.css"/>
<div  class="container">
    <div class="left">
        <div  class=" well lefttop" style="text-align: center">
            <strong ng-bind="datas.title"></strong>
        </div>
        <div  class="leftcenter" style="margin-top: -15px; text-align: center">
            <ul id="myTab" class="nav nav-tabs" style="width: 150px;border: 0px;">
                <li ng-repeat="productTitle in datas.productsTitle" >
                    <a ng-href="#/productdetail?id={{productTitle._id}}" data-toggle="tab">{{productTitle.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default"id="right" >
        <div class="panel-heading" id="panel-heading">
            <span class="flag"></span>
            &nbsp;&nbsp;
            <a ng-href="#/welcome">首页</a>&nbsp;> &nbsp;发展历程文化
        </div>
        <div id="myTabContent" class="tab-content"style="min-height: 450px;overflow: hidden">
            <div class="tab-pane fade in active" id="product1">
                <div style="margin-left: 10px;text-align: center" ng-repeat="development in datas.developments">
                    <span ng-bind-html="development.concat"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#myTab li").css("width","180px");
    });
</script>
