.left{
    height: 400px;
    width: 200px;
    float: left;
}
.lefttop{
    padding: 10px 15px 10px;
    height: 45px;
    font-size: 21px;
    background:url("../images/right_m.jpg")repeat-x ;
}
.leftcenter{
    margin-top: 1px;
    height: 450px;
    width: 200px;
    background-color: #e3e3e3;
}
#right{
  margin-left:220px;
    width: 900px;
}
#panel-heading{
    background:url("../images/right_m.jpg")repeat-x ;
    height:47px;

}
.flag{
    background:url("../images/flag.jpg") no-repeat ;
    height: 30px;
    width: 24px;
    margin-left: 10px;
    float: left;

}
.right_top_font{
    margin-left: 70px;
    padding-top: 15px;
}