<script src="javaScripts/js/welcome.js"></script>
<script src="javaScripts/js/newsScroll.js"></script>

<script>
    var shutterV = new Hongru.shutter.init('shutterV',{
        id:'shutter2',
        auto:2,
        shutterNum:4,
        shutterDir:'V',
        position:3
    });
    //初始化新闻滚动
    $("#news_rolling").Scroll({line:2,speed:400,timer:2000,down:"news_rolling_down",up:"news_rolling_up"});
</script>

<div class="slideshow grid_12">
    <div class="holder">
        <!-- 主体部分 -->
        <div id="wowslider-container">
            <div class="ws_images">
                <ul>
                    <!--<li ng-repeat='image in images'>-->
                        <!--<a href="#"><img src="{{image.uri}}" alt="123" title="" /></a>-->
                    <!--</li>-->
                    <li><a href="#"><img src="images/data/images/slide2.png" alt="456" title="标题1234" /></a>标题1234</li>
                    <!--<li><a href="#"><img src="images/data/images/slide3.png" alt="789" title="标题1234" /></a>标题1234</li>-->
                    <!--<li><img src="images/data/images/slide5new.jpg" alt="012" title="" /></li>-->
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#"><img src="images/data/tooltips/slide1.png" alt="CSS3 Slider" /></a>
                    <a href="#"><img src="images/data/tooltips/slide2.png" alt="CSS Slideshow" /></a>
                    <a href="#"><img src="images/data/tooltips/slide3.png" alt="CSS Gallery" /></a>
                    <a href="#"><img src="images/data/tooltips/slide5new.jpg" alt="Video Support" /></a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="images/engine/wowslider.js"></script>
        <script type="text/javascript" src="images/engine/script.js"></script>
        <!-- 主体部分. -->
    </div>
</div>

<div class="glyphicon-text-height"></div>
<div class="glyphicon-text-height"></div>

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h3>我们的伙伴</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">伙伴1</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">伙伴2</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">伙伴3</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">伙伴4</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">伙伴5</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">伙伴6</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h3>我们的产品</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">产品1</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">产品2</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">产品3</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">产品4</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">产品5</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">产品6</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="page-header">
                <h3>新闻动态</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-sm-4">
                        <div id="shutter2" class="shutter">
                            <ul>
                                <li><a href="#" target="_blank"><img width="375" height="303"  src="images/1.jpg" /></a></li>
                                <li><a href="#" target="_blank"><img width="375" height="303"  src="images/2.jpg" /></a></li>
                                <li><a href="#" target="_blank"><img width="375" height="303"  src="images/3.jpg" /></a></li>
                                <li><a href="#" target="_blank"><img width="375" height="303"  src="images/4.jpg" /></a></li>
                                <li><a href="#" target="_blank"><img width="375" height="303"  src="images/5.jpg" /></a></li>
                            </ul>
                        </div>
                    </div><!-- /.col-sm-4 -->
                </div>
                <div class="col-md-4">
                    <div class="wrap">
                        <div id="news_rolling">
                            <ul>
                                <li ng-repeat='news in news'>
                                <a href="#">{{news.title}}</a>
                                </li>
                                <!--<li><a href="#" target="_blank">1.原生Ajax的XMLHttpRequest对象使用指南！</a></li>-->
                                <!--<li><a href="#" target="_blank">2.jquery实现复选框全选、全不选和反选！</a></li>-->
                                <!--<li><a href="#" target="_blank">3.Js中eval函数的详解与危害！</a></li>-->
                                <!--<li><a href="#" target="_blank">4.HTML5图片的画法详解！</a></li>-->
                                <!--<li><a href="#" target="_blank">5.HTML5 Canvas的基本使用函数详解！</a></li>-->
                                <!--<li><a href="#" target="_blank">6.五种开发常见的开源协议！</a></li>-->
                                <!--<li><a href="#" target="_blank">7.什么是node.js ！</a></li>-->
                                <!--<li><a href="#" target="_blank">8.7种常用的排序算法详细讲解！</a></li>-->
                                <!--<li><a href="#" target="_blank">9.常见HTTP状态详细讲解一览表！</a></li>-->
                                <!--<li><a href="#" target="_blank">10.IE下的有条件注释详细讲解！</a></li>-->

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">联系方式</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">公司地址</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

