<table id="table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>公司地址</th>
        <th>公司邮箱</th>
        <th>公司微信</th>
        <th>公司qq</th>
        <th>公司电话</th>
        <th>公司传真</th>
        <th>公司二维码</th>
        <th>公司LOGO</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="text" ng-model="contactus.address" /></td>
        <td><input type="text" ng-model="contactus.email" /></td>
        <td><input type="text" ng-model="contactus.code" /></td>
        <td><input type="text" ng-model="contactus.qq" /></td>
        <td><input type="text" ng-model="contactus.tel" /></td>
        <td><input type="text" ng-model="contactus.fax" /></td>
        <td><input type="file" /></td>
        <td><input type="file" /></td>
    </tr>
    </tbody>
</table>
<input type="button" ng-click="save()" value="保存"/>

