
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
.Navigation{width:680px;margin:20px auto 0 auto;}

/* navbox */
.navbox{height:32px;overflow:hidden;}
.navbox li{float:left;width:100px;text-align:center;}
.navbox li a{display:block;padding:5px 10px;height:100%;color:#FFF;text-decoration:none;border-right:1px solid #FFF;font-size:14px;font-weight:800;}
.navbox li a{background:url(images/bg2.jpg) repeat 0 0;}
.navbox li a:hover,.navbox li a:focus,.navbox li a:active{background-position:-150px 0;}
#a a{background:url(../images/bg.jpg) repeat -20px 35px;}

