<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="table" class="table table-bordered ">
                    <h4>修改招聘信息</h4>
                    <tr>
                        <th>招聘职位：<input type="text" ng-model="datas.job" /></th>
                        <th>招聘人数：<input type="text" ng-model="datas.count" /></th>
                        <th>工作地点：<input type="text" ng-model="datas.address" /></th>
                    </tr>
                    <tr>
                        <th>薪资待遇：<input type="text" ng-model="datas.salary" /></th>
                        <th>联系电话：<input type="text" ng-model="datas.tel" /></th>
                        <th>邮&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 箱：<input type="text" ng-model="datas.email" /></th>
                    </tr>
                    <tr>
                        <th colspan="3">工作待遇：<input type="text" ng-model="datas.treatment" style="width:48.5%;" /></th>
                    </tr>
                    <tr>
                        <th colspan="3">工作要求：
                            <div style="margin-left: 10%;">
                                <textarea id="content" style="visibility:hidden;width:80%;height: 300px;">
                                </textarea>
                            </div>
                        </th>
                    </tr>
                </table>
                <div style="margin-left: 44%"><input type="button" value="保存" ng-click="save(datas)"></div>
            </div>
        </div>
    </div>
</div>
<script language=javascript>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#content', {
            allowFileManager: true,
            allowImageUpload: false
        });
        prettyPrint();
    });

</script>
