<!DOCTYPE html>
<html ng-app="admin">
    <head lang="en">
        <title>融商后台管理中心</title>
        <meta charset="UTF-8">
        <!--[if lt IE 9]>
        <script src="../../../libs/html5shiv.min.js"></script>
        <script src="../../../libs/respond.min.js"></script>
        <![endif]-->
        <script src="../../../resource.js"></script>
        <script src="../../../libs/angular/angular-file-upload.js"></script>
        <!--在线编辑器开始-->
        <link rel="stylesheet" href="../../../libs/kindeditor/themes/default/default.css" />
        <link rel="stylesheet" href="../../../libs/kindeditor/plugins/code/prettify.css" />
        <script charset="utf-8" src="../../../libs/kindeditor/kindeditor-min.js"></script>
        <script charset="utf-8" src="../../../libs/kindeditor/lang/zh_CN.js"></script>
        <script charset="utf-8" src="../../../libs/kindeditor/plugins/code/prettify.js"></script>
        <!--在线编辑器结束-->
    </head>
    <body class="skin-blue sidebar-mini">
  <div class="wrapper">
      <!-- Main Header -->
      <header class="main-header">
          <!-- Logo -->
          <a href="javascript:void(0)" class="logo">
              <span class="logo-lg"><b>融商</b>管理系统</span>
          </a>
          <!-- Header Navbar -->
          <nav class="navbar navbar-static-top navbar-fixed-top" role="navigation">
              <!-- Sidebar toggle button-->
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
              </a>
              <!-- Navbar Right Menu -->
              <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                      <!-- User Account Menu -->
                      <li class="dropdown user user-menu">
                          <!-- Menu Toggle Button -->
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <!-- The user image in the navbar-->
                              <img src="../libs/adminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
                              <!-- hidden-xs hides the username on small devices so only the image appears. -->
                              <span class="hidden-xs"><%=userinfo.username%></span>
                          </a>
                      </li>
                      <!-- Control Sidebar Toggle Button -->
                      <li>
                          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
          <!-- sidebar: style can be found in sidebar.less -->
          <section class="sidebar">
              <!-- Sidebar user panel (optional) -->
              <div class="user-panel">
                  <div class="pull-left image">
                      <img src="../libs/adminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                  </div>
                  <div class="pull-left info">
                      <p><%=userinfo.username%></p>
                      <!-- Status -->
                      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                  </div>
              </div>
              <!-- Sidebar Menu -->
              <ul class="sidebar-menu">
                  <li class="header">菜单</li>
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-share"></i>
                          <span>关于我们</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li>
                              <a href="#"><i class="fa fa-circle-o"></i>公司简介<i class="fa fa-angle-left pull-right"></i></a>
                              <ul class="treeview-menu">
                                  <li><a href="/admin/#/adminAllCompanyprofile/1"><i class="fa fa-circle-o"></i>查看公司简介</a></li>
                                  <li>
                                      <a href="/admin/#/adminAddCompanyprofile"><i class="fa fa-circle-o"></i>添加公司简介</a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-circle-o"></i>企业文化<i class="fa fa-angle-left pull-right"></i></a>
                              <ul class="treeview-menu">
                                  <li><a href="/admin/#/adminAllEnterpriseculture/1"><i class="fa fa-circle-o"></i>查看企业文化</a></li>
                                  <li>
                                      <a href="/admin/#/adminAddEnterpriseculture"><i class="fa fa-circle-o"></i>添加企业文化</a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-circle-o"></i>发展历程<i class="fa fa-angle-left pull-right"></i></a>
                              <ul class="treeview-menu">
                                  <li><a href="/admin/#/adminAllDevelopment/1"><i class="fa fa-circle-o"></i>查看发展历程</a></li>
                                  <li>
                                      <a href="/admin/#/adminAddDevelopment"><i class="fa fa-circle-o"></i>添加发展历程</a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-circle-o"></i>资质荣誉<i class="fa fa-angle-left pull-right"></i></a>
                              <ul class="treeview-menu">
                                  <li><a href="/admin/#/adminAllHonor/1"><i class="fa fa-circle-o"></i>查看资质荣誉</a></li>
                                  <li>
                                      <a href="/admin/#/adminAddHonor"><i class="fa fa-circle-o"></i>添加资质荣誉</a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-share"></i>
                          <span>产品展示</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="/admin/#/adminAllProduct/1"><i class="fa fa-circle-o"></i>查看产品</a></li>
                          <li><a href="/admin/#/adminAddProduct"><i class="fa fa-circle-o"></i>添加产品</a></li>
                      </ul>
                  </li>
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-share"></i>
                          <span>联系我们</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="/admin/#/adminAllContactus/1"><i class="fa fa-circle-o"></i>查看联系我们</a></li>
                          <li><a href="/admin/#/adminAddContactus"><i class="fa fa-circle-o"></i>添加联系我们</a></li>
                      </ul>
                  </li>
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-share"></i>
                          <span>招贤纳士</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="/admin/#/adminAllRecruitment/1"><i class="fa fa-circle-o"></i>查看招贤纳士</a></li>
                          <li><a href="/admin/#/adminAddRecruitment"><i class="fa fa-circle-o"></i>添加招贤纳士</a></li>
                      </ul>
                  </li>
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-share"></i>
                          <span>风云人物</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="/admin/#/adminAllFigure/1"><i class="fa fa-circle-o"></i>查看风云人物</a></li>
                          <li><a href="/admin/#/adminAddFigure"><i class="fa fa-circle-o"></i>添加风云人物</a></li>
                      </ul>
                  </li>
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-share"></i>
                          <span>合作伙伴</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="/admin/#/adminAllPartner/1"><i class="fa fa-circle-o"></i>查看合作伙伴</a></li>
                          <li><a href="/admin/#/adminAddPartner"><i class="fa fa-circle-o"></i>添加合作伙伴</a></li>
                      </ul>
                  </li>
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-share"></i>
                          <span>新闻</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="/admin/#/adminAllNews/1"><i class="fa fa-circle-o"></i>查看新闻</a></li>
                          <li><a href="/admin/#/adminAddNews"><i class="fa fa-circle-o"></i>添加新闻</a></li>
                      </ul>
                  </li>
              </ul><!-- /.sidebar-menu -->
          </section>
          <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Main content -->
          <section class="content">
              <div style="margin-top:50px;"  ng-view></div>
          </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <!-- Main Footer -->
      <footer class="main-footer">
          <!-- To the right -->
          <div class="pull-right hidden-xs">
              Anything you want
          </div>
          <!-- Default to the left -->
          <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
          <!-- Create the tabs -->
          <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
              <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
              <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
              <!-- Home tab content -->
              <div class="tab-pane active" id="control-sidebar-home-tab">
                  <h3 class="control-sidebar-heading">Recent Activity</h3>
                  <ul class='control-sidebar-menu'>
                      <li>
                          <a href='javascript:void(0)'>
                              <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                              <div class="menu-info">
                                  <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                  <p>Will be 23 on April 24th</p>
                              </div>
                          </a>
                      </li>
                  </ul><!-- /.control-sidebar-menu -->

                  <h3 class="control-sidebar-heading">Tasks Progress</h3>
                  <ul class='control-sidebar-menu'>
                      <li>
                          <a href='javascript:void(0)'>
                              <h4 class="control-sidebar-subheading">
                                  Custom Template Design
                                  <span class="label label-danger pull-right">70%</span>
                              </h4>
                              <div class="progress progress-xxs">
                                  <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                              </div>
                          </a>
                      </li>
                  </ul><!-- /.control-sidebar-menu -->

              </div><!-- /.tab-pane -->
              <!-- Stats tab content -->
              <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
              <!-- Settings tab content -->
              <div class="tab-pane" id="control-sidebar-settings-tab">
                  <form method="post">
                      <a ng-href="/admin/logout">退出</a><br>
                      <a ng-href="/admin/#/addAdmin">添加用户</a>
                  </form>
              </div><!-- /.tab-pane -->
          </div>
      </aside><!-- /.control-sidebar -->
      <div class='control-sidebar-bg'></div>
  </div><!-- ./wrapper -->
 </body>
    <script src="../../../javaScripts/angularjs/directive/fileDirective.js"></script>
    <script src="../../../javaScripts/angularjs/controllers/admin_controller.js"></script>
    <script src="../../../javaScripts/angularjs/controllers/admin_app.js"></script>

    <!-- jQuery 2.1.4 -->
    <script src="../libs/adminLTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="../libs/adminLTE/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="../libs/adminLTE/dist/js/app.min.js" type="text/javascript"></script>
</html>
