<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
               <h4>添加合作伙伴</h4>
                <table id="table" class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>标题:<input type="text" ng-model="partner.title" /></th>
                        <th>合作公司Logo：
                            <div id="preview">
                                <img id="imghead" border=0 width="160" height="160" />
                            </div>
                            <input type="file" id="file_img" fileread="partner.image" onchange="previewImage(this)" />
                        </th>
                        <th>内容:
                            <textarea id="content" style="width:90%;height:400px;"></textarea>
                        </th>

                    </tr>
                    </thead>
                </table>
                <input type="button" value="保存" ng-click="save()" style="margin-left: 50%">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #preview{width:160px;height:160px;border:1px solid #000;overflow:hidden;}
    #imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
</style>
<script src="../../views/js/backgroundModule/adminHonor.js"></script>

<script>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#content', {
            allowFileManager: true,
            allowImageUpload: false
        });
        prettyPrint();
    });
</script>

