<!DOCTYPE html>
<html ng-app="admin">
<head lang="en" >
    <meta charset="UTF-8">
    <title></title>
    <!--[if lt IE 9]>
    <script src="../javaScripts/js/html5shiv.min.js"></script>
    <script src="../javaScripts/js/respond.min.js"></script>
    <![endif]-->

    <!--<script src="../javaScripts/angular/ng-file-upload-shim.min.js"></script>-->
    <script src="../pub.js"></script>
    <script src="../javaScripts/angular/angular-file-upload.js"></script>

</head>
<body >
11111111
<div ng-view></div>


<script src="../javaScripts/controllers/admin_controller.js"></script>
<script src="../javaScripts/controllers/admin_app.js"></script>

</body>
</html>