<link rel="stylesheet" href="../javaScripts/js/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="../javaScripts/js/kindeditor/plugins/code/prettify.css" />
<script src="../javaScripts/js/kindeditor/kindeditor-min.js" type="text/javascript"></script>
<script src="../javaScripts/js/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
<script charset="utf-8" src="../javaScripts/js/kindeditor/plugins/code/prettify.js"></script>
<table>
    <tr>
        <td style="width:10%;">招聘职位</td>
        <td style="width:10%;">招聘人数</td>
        <td style="width:10%;">工作地点</td>
        <td style="width:10%;">薪资待遇</td>
        <td style="width:30%;">工作要求</td>
        <td style="width:10%;">联系电话</td>
        <td style="width:10%;">邮箱</td>
        <td style="width:10%;">工作待遇</td>
    </tr>
    <tr>
        <td style="width:10%;"><input type="text" ng-model="recruitment.job" /></td>
        <td style="width:10%;"><input type="text" ng-model="recruitment.count" /></td>
        <td style="width:10%;"><input type="text" ng-model="recruitment.address" /></td>
        <td style="width:10%;"><input type="text" ng-model="recruitment.salary" /></td>
        <td style="width:30%;"><textarea id="content" style="width:300px;height:200px;visibility:hidden;"></textarea></td>
        <td style="width:10%;"><input type="text" ng-model="recruitment.tel" /></td>
        <td style="width:10%;"><input type="text" ng-model="recruitment.email" /></td>
        <td style="width:10%;"><input type="text" ng-model="recruitment.treatment" /></td>
    </tr>
</table>
<input type="button" value="保存" ng-click="save()">

<script language=javascript>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#content', {
            allowFileManager: false
        });

    });

</script>