<link rel="stylesheet" href="/css/newsdetail.css" />
<br><br>
<div class="container">
    <div class="right_top">
        <div class="right_top_right_1">
        </div>
        <div>
            <span class="flag"></span>
            <div class="right_top_font"><a>首页</a>&nbsp;> &nbsp;新闻内容 </div>
        </div>
        <div class="right_top_right_2"></div>
    </div>
    <div class="panel panel-default center">
        <br><br>
        <h2><p class="text-center">{{news.title}}</p></h2>
        <div class="panel-body">
          {{news.concat}}
        </div>
     </div>
</div>
