<script type="text/javascript">
    //初始化新闻滚动
    $("#news_rolling").Scroll({line:2,speed:400,timer:2000,down:"news_rolling_down",up:"news_rolling_up"});
    //新闻图片
    var shutterV;
    var imgUriFun = function(){
        var newsImgUri = document.getElementsByName("newsImgHidden")[document.getElementsByName("newsImgHidden").length - 1].value;
        if(newsImgUri=="{{newsImg.image}}"){
            setTimeout('imgUriFun()',500);
        }else{
            //图片加载完执行方法
            var obj=new Image();
            obj.src=newsImgUri;
            obj.onload=function(){
                //动态导入js
                var oHead = document.getElementsByTagName('HEAD').item(0);
                var oScript= document.createElement("script");
                oScript.type = "text/javascript";
                oScript.src="images/engine/wowslider.js";
                oHead.appendChild(oScript);
                var oScript2= document.createElement("script");
                oScript2.type = "text/javascript";
                oScript2.src="images/engine/script.js";
                oHead.appendChild(oScript2);
                //图片加载完调用方法
                shutterV= new Hongru.shutter.init('shutterV', {
                    id: 'shutter2',
                    auto: 2,
                    shutterNum: 2,
                    shutterDir: 'V',
                    position: 3
                });
            }
        }
    }
    imgUriFun();
</script>

<div class="slideshow grid_12">
    <div class="holder">
        <!-- 主体部分 -->
        <div id="wowslider-container">
            <div class="ws_images">
                <ul>
                    <li ng-repeat='productImg in datas.productImg' >
                        <a ng-href="#/productdetail?id={{productImg._id}}">
                            <img ng-src="{{productImg.image}}" title="" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" ng-repeat='productImg in datas.productImg'>
                        <img no-repeat  ng-src="{{productImg.image}}" />
                    </a>
                </div>
            </div>
        </div>
        <!-- 主体部分. -->
    </div>
</div>


<div class="panel panel-primary"style="width:1349px;height: 767px; margin-top:33px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h3>我们的伙伴<small style="margin-left: 460px;"><a ng-href="#/allpartner?pageNo=1">More>></a></small> </h3>
                </div>
                <div class="row"style="width:660px;margin-left: 20px;">
                    <div class="col-sm-4" ng-repeat="partner in datas.partners" >
                        <div ng-class="{0:'panel panel-default',1:'panel panel-primary',2:'panel panel-success',3:'panel panel-info',4:'panel panel-warning',5:'panel panel-danger'}[$index]">
                            <div class="panel-heading"style="height:36px;">
                               <h3 class="panel-title">{{partner.title}}</h3>
                            </div>
                            <div class="panel-body"style="height: 53px;">
                                {{partner.concat | limitTo :10}}...
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h3>我们的产品  <small style="margin-left:430px"><a ng-href="#/allproduct?pageNo=1">More>></a></small></h3>
                </div>
                <div class="row"style="width:660px;margin-left: 20px">
                    <div class="col-sm-4" ng-repeat="product in datas.products" >
                        <div ng-class="{0:'panel panel-default',1:'panel panel-primary',2:'panel panel-success',3:'panel panel-info',4:'panel panel-warning',5:'panel panel-danger'}[$index]">
                            <div class="panel-heading"style="height:36px;">
                                <h3 class="panel-title"><a ng-href="#/productdetail?id={{product._id}}">{{product.title}}</a></h3>
                            </div>
                            <div class="panel-body"style="height:53px;">
                                <a ng-href="#/productdetail?id={{product._id}}">{{product.concat | limitTo :10}}...</a>
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h3>新闻动态<small style="margin-left: 480px;"><a ng-href="#/allnews?pageNo=1" >More>></a></small></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h3>联系方式 <small style="margin-left: 470px;"><a >More>></a></small></h3>
                </div>
            </div>
            <div class="row"style="margin-left: 20px">
                <div class="col-md-4" style="width: 370px;">
                    <div class="col-sm-4">
                        <div id="shutter2" class="shutter">
                            <ul>
                                <li ng-repeat="newsImg in datas.newsImg">
                                    <a ng-href="#/newsdetail?id={{newsImg._id}}">
                                        <img  width="350" height="303"  ng-src="{{newsImg.image}}" />
                                        <input type="hidden" name="newsImgHidden" value="{{newsImg.image}}" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.col-sm-4 -->
                </div>
                <div class="col-md-2"style="width:250px;">
                    <div class="wrap">
                        <div id="news_rolling">
                            <ul>
                                <li ng-repeat='news in datas.news'>
                                    <a ng-href="#/newsdetail?id={{news._id}}">{{news.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5"style="margin-left:50px;">
                    <div class="panel panel-success lxmb">
                        <div class="panel-heading">
                            <h3 class="panel-title">联系方式</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-inline">
                                <li >电话:</li>
                                <li><span ng-bind="datas.contactus.tel"></span></li>
                            </ul>
                            <ul class="list-inline">
                                <li >QQ:</li>
                                <li><span ng-bind="datas.contactus.qq"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-info lxmb">
                        <div class="panel-heading">
                            <h3 class="panel-title">公司地址</h3>
                        </div>
                        <div class="panel-body">
                            <span ng-bind="datas.contactus.address"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
