<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
               <h4>添加产品信息</h4>
                <table id="table" class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>产品标题：<input  type="text" ng-model="product.title"/></th>
                        <th rowspan="4">
                            <div style="margin-left: 5%">
                                <textarea id="content" ng-model="product.concat"style="width:90%;height:400px;"></textarea>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p style="float: left">产品视频： </p>
                            <input type="file" fileread="product.videosrc" />
                        </th>
                    </tr>
                    <tr>
                        <th>产品地址： <input type="text"ng-model="product.websiteUrl"/></th>
                    </tr>
                    <tr>
                        <th>产品图片：
                            <div id="preview">
                                <img id="imghead" border=0 width="160" height="160" />
                            </div>
                            <input type="file" id="file_img" fileread="product.image" onchange="previewImage(this)" />
                        </th>
                    </tr>
                    </thead>
                </table>
                <input type="button" value="保存" ng-click="save()" style="margin-left: 50%">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #preview{width:160px;height:160px;border:1px solid #000;overflow:hidden;}
    #imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
</style>
<script src="../../views/js/backgroundModule/adminProduct.js"></script>
<script>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#content', {
            allowFileManager: true,
            allowImageUpload: false
        });
        prettyPrint();
    });
</script>

