<ul>
    <li>产品标题:<input type="text" ng-model="product.title" /></li>
    <li>产品内容:<textarea id="textarea" ng-model="product.concat"></textarea></li>
    <li>产品图片:<input type="file" /></li>
    <li>产品视频:<input type="file" /></li>
    <li>产品地址:<input type="text" ng-model="product.websiteUrl" /></li>
</ul>
<input type="button" value="保存" ng-click="save()">

<script language=javascript>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#textarea', {
            allowFileManager: false
        });

    });

</script>