<script>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#content', {
            allowFileManager: true,
            allowImageUpload: false
        });
        prettyPrint();
    });
</script>
<table>
    <tr>
        <td>产品标题</td>
        <td>产品内容</td>
        <td>产品图片</td>
        <td>视频地址</td>
    </tr>
    <tr>
        <td><input type="text" ng-model="datas.title" /></td>
        <td>
            <textarea id="content" style="width:300px;height:200px;visibility:hidden;"></textarea>
        </td>
        <td><img ng-src="{{datas.image}}" /></td>
        <td><input type="text" ng-model="datas.websiteUrl" /></td>
    </tr>
</table>
<input type="button" ng-click="save(datas)" value="保存"/>

